@font-face {
  src: url(../fonts/Glegoo/Glegoo-Regular.ttf), url(../fonts/Glegoo/Glegoo-Bold.ttf);
  font-family: Glegoo;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  outline: none;
}

header {
  padding: 20px;

  div a {
    text-decoration: none;
    color: black;

    p {
      font-family: Glegoo;
      text-align: center;

      &.brand-name {
        font-size: 300%;
      }

      &.sub-title {
        font-size: 150%;
        margin-bottom: 20px;
      }
    }
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;

    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      padding: 20px;
    }
  }
}

main {
  div.img-box img {
    width: 100%;
    max-width: 100%;
  }

  p#popular-categories {
    font-family: Glegoo;
    text-align: center;
    margin: 20px 0;
    font-size: 150%;
  }

  section {
    &.popular-categories {
      display: grid;
      grid-template-columns: .5fr 1fr;
      align-items: center;
      grid-gap: 20px;
      padding: 20px;

      aside.aside-image img {
        width: 100%;
        max-width: 100%;
        height: 500px;
      }

      div.cell div {
        &.product-tabs {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;

          div.tab {
            text-align: center;
            text-transform: uppercase;
            background-color: white;

            &.active {
              background-color: #940000;
              color: white;
              padding: 10px;
            }
          }
        }

        &.columns {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;

          div.product {
            img {
              width: 100%;
            }

            div {
              &.product-details span.product-name {
                display: block;
                text-align: center;
                margin: 10px 0;
                color: #940000;
              }

              &.price-row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin: 20px 0;

                span {
                  &.old-price {
                    margin-left: auto;
                  }

                  &.price {
                    margin-right: auto;
                    margin-left: 20px;
                  }
                }
              }
            }

            button {
              padding:  20px;
              border: none;
              background-color: #940000;
              color: white;
              display: block;
              text-align: center;
              margin: 0 auto;
              border-radius: 10px;
              &:hover{
                background-color: #8a0808;
              }
            }
          }
        }
      }
    }

    &.popular-products p.special-heading, &.latest-products p.special-heading {
      font-family: Glegoo;
      text-align: center;
      margin: 20px 0;
      font-size: 150%;
    }

    &.popular-products div.new-products, &.latest-products div.new-products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 20px;
    }

    &.popular-products div.new-products div.product img, &.latest-products div.new-products div.product img {
      width: 100%;
    }

    &.popular-products div.new-products div.product div.product-details span.product-name, &.latest-products div.new-products div.product div.product-details span.product-name {
      display: block;
      text-align: center;
      margin: 10px 0;
      color: #940000;
    }

    &.popular-products div.new-products div.product div.price-row, &.latest-products div.new-products div.product div.price-row {
      display: flex;
      margin: 20px 0;
    }

    &.popular-products div.new-products div.product div.price-row span.old-price, &.latest-products div.new-products div.product div.price-row span.old-price {
      margin-left: auto;
    }

    &.popular-products div.new-products div.product div.price-row span.price, &.latest-products div.new-products div.product div.price-row span.price {
      margin-right: auto;
      margin-left: 20px;
    }

    &.popular-products div.new-products div.product button, &.latest-products div.new-products div.product button {
      padding:  20px;
      border: none;
      background-color: #940000;
      color: white;
      display: block;
      text-align: center;
      margin: 0 auto;
      border-radius: 10px;
      &:hover{
        background-color: #8a0808;
      }
    }
  }
}

footer {
  form {
    background-color: #f7f7f7;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p.special-heading {
      text-align: center;
    }

    input, button {
      height: 50px;
      border: none;
    }

    input {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
    }

    button {
      background-color: #940000;
      color: white;
    }
  }

  div.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;

    div {
      a {
        display: block;
        text-decoration: none;
        color: #adadad;
        margin: 10px 0;

        &:hover {
          color: black;
        }
      }

      i {
        border-style: solid;
        color: black;
        padding: 10px;
        border-width: 1px;
      }

      p.special-heading {
        font-family: Glegoo;
      }
    }
  }

  small {
    display: block;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
    -webkit-box-shadow: 0 0 5px lightgray;
    box-shadow: 0 0 5px lightgray;
  }
}

main.about{
  h2{
    font-family: 'Glegoo';
    text-align: center;
    padding: 20px 0;
    font-size: 38px;
  }
  p{
    padding: 20px 5%;
  }
  margin-bottom: 30px;
}

main.categories{
  h2{
    font-family: 'Glegoo';
    text-align: center;
    padding: 20px 0;
    font-size: 38px;
  }
  ul.categories{
    padding: 0 5%;
    list-style-type: none;
    li{
      border: 3px #940000 solid;
      padding: 20px;
      margin: 10px 0;
      a{
        display: block;
        text-decoration: none;
        color: black;
        // font-weight: 700;
      }
      &:hover{
        transform: scale(1.01);
      }
    }
  }
}
